In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('d7i.csv')
df

     year                          trendline       value
0    1980                   Unsmoothed index  100.000000
1    1981                   Unsmoothed index   99.563966
2    1982                   Unsmoothed index   99.539300
3    1983                   Unsmoothed index   99.840640
4    1984                   Unsmoothed index  100.740208
..    ...                                ...         ...
115  2015  90% credible interval upper bound   83.810959
116  2016  90% credible interval upper bound   82.880031
117  2017  90% credible interval upper bound   81.901240
118  2018  90% credible interval upper bound   81.034580
119  2019  90% credible interval upper bound   80.669066

[120 rows x 3 columns]

In [8]:

df['value'] = df['value'].astype(float).round(2)
df = df.rename(columns={'year': 'Year','trendline': 'Trendline','value': 'Observation'})
df = df[['Year', 'Trendline','Observation']]  

df

In [ ]:
df.to_csv('output.csv', index=False)